@model IEnumerable<Hospital>
<div style="
	 background: rgba(132, 134, 127, .5);
	 box-sizing: border-box;
	 box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
	 border-radius: 10px;">

	<div class="clo-6 text-end">
		<a asp-controller="Hospital" asp-action="AddHospital" class="btn btn-primary">Add New Hospital</a>
	</div>

	<table class="table table-border">
		<thead>
			<tr itemscope="raw">
				<th itemscope="col">Hospital Id</th>
				<th itemscope="col">Hospital Name</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr itemscope="raw">
					<td>
						@item.HospitalId
					</td>

					<td>
						@item.Name
					</td>

					<td>
						<a asp-action="Details" asp-controller="Hospital" asp-route-Id="@item.HospitalId">Details</a>
					</td>

					<td>
						<a asp-action="EditHospital" asp-controller="Hospital" asp-route-Id="@item.HospitalId">Edit</a>
					</td>
					<td>
						<a asp-action="DeleteHospital" asp-controller="Hospital" asp-route-Id="@item.HospitalId">Delete</a>
					</td>
				</tr>

			}
		</tbody>
	</table>
</div>