@model EditDoctorViewModel
@{
    <link rel="stylesheet" href="~/css/UserAdmin.css">
    <title>User Admin</title>
    Layout = null;
}
<div class="patient-box" style="overflow-y:scroll; height:900px;">
    <h2>Edit Doctor</h2>
    <form asp-action="EditDoctor" asp-route-Id="@Model.doctorid" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div>
            <label style="color:white">Doctor Name</label>
        </div>
        <div class="user-box">
            <input asp-for="DoctorName" type="text" readonly />
            <span asp-validation-for="DoctorName" class="text-danger"></span>
        </div>
        <div>
            <label style="color:white">Doctor Major</label>
        </div>
        <div class="user-box">
            <input asp-for="DoctorMajor" type="text" readonly />
            <span asp-validation-for="DoctorMajor" class="text-danger"></span>
        </div>
       
        <div>
            <label style="color:#03e9f4">Phone Number</label>
        </div>
        @for (var i = 0; i < Model.PhoneNumbers.Count; i++)
        {
            <div class="user-box">
                <input asp-for="@Model.PhoneNumbers[i]" type="text" />
                <span asp-validation-for="@Model.PhoneNumbers[i]" class="text-danger"></span>
            </div>
        }
        <p>-------------------------</p>
        <div>
            <label style="color:#03e9f4">Clinic</label>
        </div>
        @for (var i = 0; i < Model.ClinicNames.Count; i++)
        {
            <div class="user-box">
                <div class="col-sm-10">
                    @{
                        SelectList clinicList = new SelectList(ViewBag.clinics, "Name", "Name", Model.ClinicNames[i]);
                    }
                    <select style="width:auto" class="form-select" asp-items="clinicList" asp-for="@Model.ClinicNames[i]">
                    </select>
                    
                </div>
                <input asp-for="@Model.ClinicArrivalTimes[i]" />
                <span asp-validation-for="@Model.ClinicArrivalTimes[i]" class="text-danger"></span>
                <input asp-for="@Model.ClinicLeaveTimes[i]" />
                <span asp-validation-for="@Model.ClinicLeaveTimes[i]" class="text-danger"></span>
            </div>
        }
            <button type="submit" id="patient">
                <span></span>
                <span></span>
                <span></span>
                <span></span> update Doctor
            </button> 
    </form>

</div>
