@model IEnumerable<Clinic>
<div style="
	 background: rgba(132, 134, 127, .5);
	 box-sizing: border-box;
	 box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
	 border-radius: 10px;">

	<div class="clo-6 text-end">
		<a asp-controller="Clinic" asp-action="AddClinic" class="btn btn-primary">Add New Clinic</a>
	</div>

	<table class="table table-border">
		<thead>
			<tr itemscope="raw">
				<th itemscope="col">Clinic Id</th>
				<th itemscope="col">Clinic Name</th>
				<th itemscope="col">Open Time</th>
				<th itemscope="col">Close Time</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr itemscope="raw">
					<td>
						@item.ClinicId
					</td>

					<td>
						@item.Name
					</td>

					<td>
						@item.OpenTime
					</td>

					<td>
						@item.CloseTime
					</td>

					<td>
						<a asp-action="Details" asp-controller="Clinic" asp-route-Id="@item.ClinicId">Details</a>
					</td>

					<td>
						<a asp-action="EditClinic" asp-controller="Clinic" asp-route-Id="@item.ClinicId">Edit</a>
					</td>
					<td>
						<a asp-action="DeleteClinic" asp-controller="Clinic" asp-route-Id="@item.ClinicId">Delete</a>
					</td>
				</tr>

			}
		</tbody>
	</table>
</div>